@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap");
#container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  #navibar {
    height: auto;
  }

  .front-container {
    min-height: 100vh;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .form-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .inputForm {
        padding-top: 5%;
        width: 80%;
        height: 100%;
        #title-wrapper {
          margin-bottom: 40px;
        }
        #content-wrapper {
          margin-bottom: 10px;
        }
        #button-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          Button {
            margin-left: 2%;
            margin-bottom: 100px;
          }
        }
      }
    }
  }
}
